[submodule "libraries/Adafruit_TinyUSB_Arduino"]
	path = libraries/Adafruit_TinyUSB_Arduino
	url = https://github.com/adafruit/Adafruit_TinyUSB_Arduino.git
[submodule "libraries/Adafruit_ZeroDMA"]
	path = libraries/Adafruit_ZeroDMA
	url = https://github.com/adafruit/Adafruit_ZeroDMA
[submodule "libraries/Crypto/src/utility/third_party/mbedtls"]
	path = libraries/Crypto/src/utility/third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
